


<form action="/designs/<%= @design.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    
     <input type="text" name="design[title]" value="<%= @design.title %>"><br>
        <textarea name="design[description]" value="<%= @design.description %>"></textarea><br>
        <input type="text" name="design[style]" value="<%= @design.style %>"><br>

    <input type="submit" value="Update Design">
</form>