
 


<form action="/designs" method="POST">
    <input type="text" name="design[title]" placeholder="title"><br>
    <textarea name="design[description]" placeholder="description"></textarea><br>
    <input type="text" name="design[style]" placeholder="style"><br>
    <input type="submit" value="Create design">
</form>