<h1>Welcome to Ahmad Digital Printing Press</h1>
<h2> Where Design meets passion</h2>

<form action="/search" method="get">
    <input type="text" placeholder="design title" name="title">
    <input type="submit" value="search">
</form>




